{% layout "base" %}
{% block content %}

<p>
Identifee login requires further verification. To complete the login, enter the verification code on the login screen.
</p>

<p>
Your verification code is: <strong>{{ code }} </strong>
</p>

<p>
We’re here to help! If at any time you have questions, just reply to this email to talk to a friendly member of our team.
</p>

{% endblock %}
