{% layout "base" %}
{% block content %}

<p>
    Forgot your password? Not a problem.
    To reset your password, click the reset password link below within 24 hours.
</p>

<p style="text-align: center; padding: 20px 0;">
    <a class="button" href="{{ url }}">
        Reset your password
    </a>
</p>

<p>
  If you don't want to change your password or didn't request this, just ignore and delete this message. To keep your account secure, please don't forward this email to anyone.
</p>

{% endblock %}
