{% layout "base" %}
{% block content %}

<p>A new password was generated for your account</p>
  <div style="border-left: solid 5px #E4E4E4;padding-left: 2%;">
    <p style="margin-bottom: 2%;">New Password</p>
    <span style="font-size: 2rem;">{{ password }}</span>
  </div>
<p>This email contains sensitive information, do not share it with anyone.</p>

{% endblock %}
