{% layout "base" %}
{% block content %}

<p>
You have changed your Identifee password. Please, keep it in your records so you don't forget it.
</p>

<p>
Your email address: {{ email }}
</p>

{% endblock %}
