{% layout "base" %}
{% block content %}

<p>
  A person has shared the attached report with you. 
</p>

<a href={{ link }}>
  Go to the Report  
</a>

<p>
  {{ message }}
</p>

<p>
  If you don't want to download the report or didn't request this, just ignore and delete this message. To keep your information secure, please don't forward this email to anyone.
</p>

{% endblock %}
