{% layout "base" %}
{% block content %}

<p>
    Welcome! Identifee uses data driven insights to elevate client conversations and deliver impactful client experiences by combining data, training, marketing, and sales.
</p>

<p style="text-align: center; padding: 20px 0;">
    <a class="button" href="{{ url }}">
        Login to {{ projectName }}
    </a>
</p>

<p>
    We’re here to help! If at any time you have questions, just reply to this email to talk to a friendly member of our team.
</p>

{% endblock %}
