container_commands:
  00_node_binary:
      command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  01_npm_binary:
      command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  10_db_repeatable:
      command: cd api && node_modules/sequelize-cli/lib/sequelize --seeders-path ./sequelize/repeatable db:seed:all
      leader_only: true
